body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

form {
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

form>div {
    display: flex;
    justify-content: space-between;
}

table {
    align-self: stretch;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

tr.completed {
    color: lightgray;
}